@model HomeIndexVM

<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-3 col-sm-6 col-12 mt-2 mb-4">
            <div class="card border-0 p-3 shadow border-top border-5 border-primary">
                <div class="container p-0 d-flex align-items-center" style="width: auto; height: 300px;">
                    <img src="@product.PictureUrl" width="100%" />
                </div>
                <div class="card-body pb-1">
                    <div class="ps-1">
                        <h6 class="card-title text-center text-primary">@product.Name</h6>
                    </div>
                    <div class="row">
                        <h6 class="col-6 card-title text-primary">@product.Price.ToString("c")</h6>
                        <span class="col-6 text-secondary text-end">Qty. @product.Quantity</span>
                    </div>
                    <div class="mt-3 text-center">
                        <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary w-75">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>